body {
  margin: 0;
  background-color: #fffcc9;
  font-family: Arial, sans-serif;
  color: #222;
}

.project {
  width: 70%;
  max-width: 800px;
  margin: 60px auto;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.project-link {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;

  background-color: #222;
  color: white;

  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background-color: #555;
}